.pop-up{
  position: fixed;
  height: 100vh;
  width: 100vw;
  background-color: rgba($black,.8);
  z-index: 5000;
  top: 0;
  left: 0;
  opacity: 0;
  visibility: hidden;
  transition: all .4s .2s;
  
 
  &__content{
    position: absolute;
    opacity: 0;
    width: 75%;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%) scale(.5);
    background-color: $Textwhite;
    box-shadow: 0 2rem 4rem rgba($black, .8);
    border-radius: 3px;
    display: table;
    overflow: hidden;
    transition: all .3s;

    @include respond(tab-port){
      display: inline-block;
    }
  }

  &__left{
    width: 33.333%;
    display: table-cell;
    @include respond(tab-port){
      width: 100%;
      display: inline-block;
    }
    
  }
  &__img{
    width: 100%;
    display: block;
    @include respond(tab-port){
      width: 50%;
      margin-left: 10rem;
      padding-top: 2rem;
    }

  }
  
  &__right{
    width: 66.6666%;
    display: table-cell;
    vertical-align: middle;
    padding: 3rem 5rem;

  }
  &__text{
    font-size: 1.5rem;
    margin-bottom: 4rem;
    column-count: 2;
    column-gap: 4rem;
    column-rule: 1px solid $Mediumgreen;

    hyphens: auto;

  }

  &:target{
    opacity: 1;
    visibility: visible;
  }
  &:target &__content{
    opacity: 1;
    transform: translate(-50%,-50%) scale(1);

  }
  &__close{
    &:link,
    &:visited{
      color: #777;
      position: absolute;
      top: 2.5rem;
      right: 2.5rem;
      font-size: 3rem;
      text-decoration: none;
      display: inline-block;
      transition: all .3s;
      line-height: 1;
    }
    &:hover{
      color: $Mediumgreen;
    }
  }

}
.btn-1{
  font-size: 1.8rem;
  margin-left: 5rem;
  
}