//fonts
$Lightgreen: #7ed56f;
$Mediumgreen: #55c57a;
$Darkgreen: #28b485;
$DarkGrey:#777;
$Textwhite:#fff;
$aboutColor:#ccc9c9;
$black:#131212;
$colorOrange:#ffb900;
$colorOrange-light:#ff7730;
$colorBlue:#2998ff;
$colorBlue-light:#5643fa;
$borderDown:#eee;

//grid
$grid-with:114rem;
$gutter-vert:8rem;
$gutter-horz:6rem
